name: Release

on:
  release:
    types: [ published ]
  push:
    branches:
      - workflow_test

env:
  CARGO_TERM_COLOR: always

jobs:
  build-ffmpeg-windows:
    name: Build FFmpeg for Windows
    runs-on: ubuntu-latest
    outputs:
      ffmpeg_ref: ${{ steps.set_ref.outputs.ffmpeg_ref }}
    steps:
      - uses: actions/checkout@v4
        with:
          path: "./touchup/"
      - name: Set FFmpeg git ref
        id: set_ref
        run: |
          FFMPEG_REF=n$(cat ./touchup/ffmpeg_ver.txt)
          echo "FFMPEG_REF=$FFMPEG_REF" >> $GITHUB_ENV
          echo "ffmpeg_ref=$FFMPEG_REF" >> $GITHUB_OUTPUT
      - name: Get FFmpeg from cache
        id: cache
        uses: actions/cache@v4
        with:
          key: "ffmpeg-${{ env.FFMPEG_REF }}"
          path: out/
      - name: Install packages
        if: steps.cache.outputs.cache-hit != 'true'
        run: sudo apt-get install subversion ragel curl texinfo g++ ed bison flex cvs yasm automake libtool autoconf gcc cmake git make pkg-config zlib1g-dev unzip pax nasm gperf autogen bzip2 autoconf-archive p7zip-full meson clang python3-distutils python-is-python3 -y
      - name: Checkout FFmpeg build script
        uses: actions/checkout@v4
        if: steps.cache.outputs.cache-hit != 'true'
        with:
          repository: 'rdp/ffmpeg-windows-build-helpers'
          path: "."
          fetch-depth: 1
      - name: Build FFmpeg
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          ./cross_compile_ffmpeg.sh --ffmpeg-git-checkout-version=${{ env.FFMPEG_REF }} --build-ffmpeg-static=n --build-ffmpeg-shared=y --sandbox-ok=y --enable-gpl=n --git-get-latest=n --compiler-flavors=win64
      - name: Copy FFmpeg dlls to artifact directory
        if: steps.cache.outputs.cache-hit != 'true'
        shell: bash
        run: |
          mkdir out/
          
          for FILE in sandbox/win64/ffmpeg_git_lgpl*/bin/{avcodec,avdevice,avformat,avutil,swresample,swscale}*.dll; do
            cp -a "$FILE" out/
          done
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: "ffmpeg-${{ env.FFMPEG_REF }}"
          path: out/